# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# OS files
.DS_Store

# Kotlin / Java build
*.class
*.jar
*.log
*.zip
*.tar.gz
*.rar

# Error logs
hs_err_pid*
replay_pid*

# Kotlin specific
.kotlin/
